body{
	width:100vw;
	height:100vh;
	display:block;
	margin:0;
	cursor: url(images/pawpaw.png), auto;

}
.menu {
	display: flex;
	height: 8%;
	width: 100%;
	background-color:#4B0082;
	position: fixed;
	margin: 0;
}
nav {
	font-family: monospace;
	height: 100%;
}

ul {
	text-decoration: none;
  background: darkorange;
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 100%;
	width: 100%;
}

li {
	color: #fff;
  background-color:	#4B0082;
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
  width: 25%;
  height: 100%;
}
  
li a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

li:hover {
	background: grey;
	cursor: pointer;
}

ul li ul {
	list-style-type:none;
	background-color:	#4B0082;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
.empty{
	height: 100%;
	width: 10%;
	background-color: #4B0082;
}
.nav-content{
	height: 100%;
	width: 80%;
	background-color: black;
}
.heading {
	display: flex;
	height: 12%;
	width: 100%;
	margin: 0;
}
.pink{
	background-color:#E4CBF2;
}

.purplerow{
	width:100%;
	height:8%;
	display:flex;
	background-color:#8A3EBF;
	position: fixed;
}

.titlebox{
	width:100%;
	height:12%;
	display: flex;
}
.lightpurple{
	background-color:#A887BF;
}

.purple{
	background-color:#A887BF ;
}

.bigbox{
	width:100%;
	height:80%;
	display: flex;
	background-color:#BFB6B9;

}

.leftside{
	width:50%;
	height:100%;
	background-color:#D5CCE7;
}

.rightside{
	width:50%;
	height:100%;
	background-color:#F5D5D5;
}

.left1{
	width:100%;
	height:42%;
	background-color:#AFADB0;
}

.left2{
	width:100%;
	height:40%;
	background-color: #EAE1EB;
	display: flex;
}
.left3{
	width:100%;
	height:40%;
	background-color: #EAE1EB;
	display: flex;
}
.left4{
	width:100%;
	height:40%;
	background-color: #EAE1EB;
	display: flex;
}
.left5{
	width:100%;
	height:42%;
	background-color:#AFADB0;
	display:block;
}
.left6{
	width:100%;
	height:40%;
	background-color: #EAE1EB;
}
.left7{
	width:100%;
	height:40%;
	background-color: #EAE1EB;
}
.left8{
	width:100%;
	height:40%;
	background-color:#EAE1EB;
}
h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 50px;
	text-align: center;
	color: white;
	margin: 0;
}
h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 33px;
	text-align: center;
	color: white;
	margin: 0;
}
h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
	color: black;
	margin: 0;
}
h4 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	margin: 0;
}
.center-content{
	display:flex;
	align-items: center;
	justify-content: center;
}
video [{Attributes Style] {
	width: 400px;
	height: 280px;
}
video{
	object-fit: contain;
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}


